<div class="content-grid">
  <% @comics.each do |comic| %>
    <div class="content-grid-item">
      <%= image_tag(comic.image_url, class: 'content-grid-item-image') %>
      <span id="<%= comic.id %>" class="js-span" >
        <% if comic&.favorite %>
          <%= image_tag('heart_on', id:"image-#{comic.id}", class: "content-grid-item-favorite", data: { favorite: comic.favorite } ) %>  
        <%else%>
          <%= image_tag('heart_off', id:"image-#{comic.id}", class: "content-grid-item-favorite", data: { favorite: comic.favorite } ) %>  
        <%end%>
      </span>
      <div class="content-grid-item-info">
        <div class="content-grid-item-text">
          <%= comic.title %>
        </div>
        <div class="content-grid-item-text">
          <%= "(#{comic.on_sale_date.year}) ##{comic.id}" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
