<%= stylesheet_link_tag('index') %>
<div class="header">
  <%= image_tag('marvel_logo', class: "header-logo") %>
  <form action="/search" method="get" accept-charset="UTF-8" class="header-search" >
    <input id="query" name="query" type="text" />
    <input name="commit" type="submit" value="Search" data-disable-with="Search" />
  </form>
</div>
<div class="content">
  <div class="content-grid">
    <% @comics.each do |comic| %>
      <div class="content-grid-item">

        <%= image_tag(comic.image_url, class: 'content-grid-item-image') %>
        <%= image_tag('heart_off', class: "content-grid-item-favorite") %>  
        <div class="content-grid-item-info">
          <div class="content-grid-item-text">
            <%= comic.title %>
          </div>
          <div class="content-grid-item-text">
            <%= "(#{comic.on_sale_date.year}) ##{comic.id}" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
